body {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  margin:0;
  padding:0;
  color:white;
  background: #1b2838;
<<<<<<< HEAD
  /* background:white; */
=======
>>>>>>> 124c8eb35dfa9dc256993602fb2639619bff7a80
}
/*
#062726 - darkest
#102B3F - darker
#6247AA - dark purple
#A06CD5 - light purple
#E2CFEA - lightest
*/
.max {
  max-width:1500px;
  display:block;
  margin:auto;
}
.divider {
  width:100%;
  padding:30px 0;
}
a {
  color:white;
  text-decoration: none;
}
li {
  list-style-type: none;
}
h1 {
  margin: 20px 0;
}
.navbar {
  width:100%;
  background: #2b3c53;
  color: white;
  font-size:18px;
}
.items {
  padding: 0 72px 0 24px;
  margin:0;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.items li {
  padding: 0 18px;
}
.title {
  flex-grow:1;
  font-size:24px;
}
.search {
  position:relative;
  color:#2b3c53;
}
.search-insides i {
  position:absolute;
  top:15px;
  left:45px;
}
.search-insides i h4 {
  display:inline-block;
  margin:0 0 0 5px;
  font-family: 'Open Sans', sans-serif;
}
.search-insides input {
  color:white;
  background:white;
  border:1px solid white;
  padding:15px 10px;
  width:120px;
}
.search-insides:hover input{
  transition: .2s;
  background: #2b3c53;
}
.search-insides:hover i {
  color:transparent;
  top:-60px;
}
.search-insides:focus-within i {
  color:transparent;
  top:-60px;
}
.search-insides input:focus {
  outline: none;
  background:#2b3c53;
}
.search-btn {
  position: absolute;
  top:-100px;
  right:10px;
  border:0;
  padding: 16px 8px;
  background: white;
}
.search-btn:hover {
  cursor:pointer;
}
.search-insides:focus-within .search-btn {
  animation:example .3s;
  animation-fill-mode: forwards;
}
@keyframes example {
  0% {top:0; opacity:0;}
  100% {top:0; right:-30px; opacity:1;}
}
<<<<<<< HEAD
=======
/*--- section 2 ---*/
.banner {
  background: url('assets/bg1.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
}
>>>>>>> 124c8eb35dfa9dc256993602fb2639619bff7a80
